<div class="form-container">
  <%= render "header" %>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :first_name, autofocus: true, placeholder: "first name" %>
  </div>

  <div class="field">
    <%= f.text_field :last_name, placeholder: "last name" %>
  </div>

  <div class="field">
    <%= f.text_field :username, placeholder: "username" %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: "password (6 characters minimum)" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "password confirmation" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "submit_button sign-up-padding clean" %>
  </div>
<% end %>
</div>
