<div class="section" id="landing-content">
  <%= image_tag "logo.png", :id => "logo" %>

  <section class="landing-header">
    <h1 id="tagline">Where your run starts and ends in the same place.</h1>
    <h2 id="subheading">Enter your desired running distance and we'll generate a route for you.</h2>
  </section>


  <%= render "distance_form" %>

</div>

<div class="section" id="map"></div>
  <%= image_tag "nav_up.png", :class => "up" %>
  <%= image_tag "nav_down.png", :class => "down" %>
<div class="section" id="directions"></div>
<% if user_signed_in? %>
  <%= render "/users/routes/save_route_form" %>
<% end %>
