<div class="section" id="landing-content">
  <%= image_tag "logo.png", :id => "logo" %>

  <section class="landing-header">
    <h2 id="tagline">Run from Routine</h2>
    <h3 id="subheading">Randomize your run,  jog,  or walk with Loopi</h3>
  </section>

  <%= render "distance_form" %>
</div>

<div class="section" id="map"></div>
  <%= image_tag "nav_up.png", :class => "up" %>
  <%= image_tag "direction.png", :class => "down" %>


  <div class="section" id="directions">
    <br><br><br>
    <% if user_signed_in? %>
      <%= render "/users/routes/save_route_form" %>
    <% end %>
    <p>Total Distance: <span id="total"></span></p>
  </div>



