<div class="section" id="landing-content">

<% if !user_signed_in? %>
<p><%= link_to "Sign In", new_user_session_path %> |
  <%= link_to "Sign Up", new_user_registration_path %></p>
<% else %>
  <p><%= link_to "My Routes", user_path(current_user) %> |
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
<% end %>

  <%= image_tag "logo.png", :id => "logo" %>

  <section class="landing-header">
    <p id="tagline">Run from Routine</p>
    <p id="subheading">With loopi, you'll never have to run the same route again</p>
  </section>

  <%= render "distance_form" %>
  <%= render "distance_form_desktop" %>
</div>

<div class="map_direction"></div>
<div class="section" id="map"></div>

<%= image_tag "nav_up.png", :class => "up" %>
<%= image_tag "nav_down.png", :class => "down" %>

<div class="section" id="directions">
  <div id="response-box"></div>
  <% if user_signed_in? %>
    <%= render "/users/routes/save_route_form" %>
  <% else %>
    <p><%= link_to "Sign In", new_user_session_path, class: "clean" %> or <%= link_to "Sign Up", new_user_registration_path, class: "clean" %> to save routes</p>
  <% end %>
  <p>Total Distance: <span id="total"></span></p>
</div>
