<!DOCTYPE html>
<html>
<head>
  <title>loopi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="./app/assests/images/icons/60.png" rel="apple-touch-icon">
  <link href="./app/assests/images/icons/76.png" rel="apple-touch-icon" sizes="76x76">
  <link href="./app/assests/images/icons/120.png" rel="apple-touch-icon" sizes="120x120">
  <link href="./app/assests/images/icons/512.png" rel="apple-touch-icon" sizes="512x512">
  <link href="./app/assests/images/icons/40.png" rel="apple-touch-icon" sizes="40x40">
  <link href="./app/assests/images/icons/29.png" rel="icon" sizes="29x29">
</head>
<body>
  <%= yield %>
</body>
</html>
